.codeMirror * {
  font-size: var(--ifm-font-size-base);
  font-family: var(--ifm-font-family-monospace);
}

.input {
  margin-top: 12px;
}

.outputBox {
  box-shadow: none;
  padding: 0;
  background-color: transparent;
}
